<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  var image = 'https://lh3.googleusercontent.com/cZyp1zTcrie_O08x1fFT6i8nIwbCUK7hwfB4VxqYNQ6VGEyKq2WdWLfEP_OnkB4byEKFp_qg2L6sbkiL9zKJtlGG4yGSGFhVtkAdM6AD90e5AgScn18OYDzAshJAZ-11NugfYnnmqsc9F82eWbb_mQLWx45uQp_gw3EMM_oK7aFyjCvDLxr3m593xsMaXi_vR--N5vfoZCULRZDPixzf6dRkpxfqDXz7ufpKsK9M_AC1WXhdC-vu6wC7CGNEN3aDj_coOb3eHsvIDZcpm4uwn1Cs3xJur-2juvOrCTJIsSrU1xOKpkscBt6Gs7Ecqe33idvtCXF8mJZc0B_UhEMdpRVTE4ZPD-EGzqmhZfMVcCNOyKrwDiWIWHiXlVwZsY24mbWcAj7VeACj996lm6PXxcQoXib4aKE4wX8nfprz4dGcwHL43p3ARSw_PIibbDk0hMbFtutpoDMxGpaKUswqVEXKnK4rIQddnIsufNnE5Nd7mjN7Uj-WybEPuI3Fe7hoppvL77ALaBPQCH7lG-oNpMxobnVECl2vq1tJBh5ZwtlAqxGRz9aH9qziAcsu1L4-kZb0cEjYgsXg8L4lQ0GNEJT-HWnIoyjRtn5-PmhInZPEvP0WZFRztZ_JE1qlHfGfrp4DG9nngF99fvI-fK7AqyVGgpYQRNOYuhgLfAStoNINenPjS3zqIQ=s10-no';  // The location of Uluru
  var uluru = [{lat: 33.7838, lng: -118.1141}, {lat: 33.7837, lng: -118.1140}, {lat: 33.7836, lng: -118.1139}, {lat: 33.7835, lng: -118.1137},{lat: 33.7834, lng: -118.1136},{lat: 33.7833, lng: -118.1135}];
  // The map, centered at Uluru

  console.log(window.location.pathname);
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru[0]});
  // The marker, positioned at Uluru
  new google.maps.Marker({position: uluru[0], map: map});
  new google.maps.Marker({position: uluru[1], map: map, icon: image});
  new google.maps.Marker({position: uluru[2], map: map, icon: image});
  new google.maps.Marker({position: uluru[3], map: map, icon: image});
  new google.maps.Marker({position: uluru[4], map: map, icon: image});
  new google.maps.Marker({position: uluru[5], map: map, icon: image});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<KEY HERE>&callback=initMap">
    </script>
  </body>
</html>