<!DOCTYPE html>
<html>
  <head>
    <link href="/views/styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <!-- <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDunQzzS1U8QHliMAYJ6BdnFDRRkc6Iue8&callback=initMap">
    </script> -->
  </body>
  <script src="/views/scripts.js"></script>
</html>